---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Forms</span></h1>
		<Form client:idle />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		margin-block-end: 2rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	main :global(form) {
		display: grid;
		place-items: start;
		gap: 1rem;
	}
	main :global(form) :global(input) {
		background: rgb(235, 229, 250);
		border-color: transparent;
		padding: 0.5rem 1rem;
		border-radius: 0.2rem;
	}
	main :global(form) :global(input):focus {
		outline: none;
		border: 2px solid #a001d0;
	}
	main :global(form) :global(button[type="submit"]) {
		padding: 0.4rem 1rem;
		background-image: var(--accent-gradient);
		background-size: 300%;
		background-position-x: 100%;
		font-family: inherit;
		font-weight: bold;
		background-color: transparent;
		border: 2px solid #c97ef5;
		border-radius: 0.3rem;
		transition: background-position-x 0.2s;
	}
	main :global(form) :global(button[type="submit"]:is(:hover, :focus)) {
		background-position-x: 0;
		outline: none;
	}
</style>
